option {
    color:black;
    background-color:lightyellow;
    text-decoration-line:underline;
    font-size:medium;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    position:relative;
    right:-2px;
}
body {
    background-color:darkseagreen;
    background-image:url('BreakingBadLogo.png');
    background-repeat:no-repeat;
    background-size:20% 50%;
    background-position:2.5% 220%;
    overflow:visible;
    font-family: Arial, Helvetica, sans-serif;
    color:green;
    text-align:center;
}
table {
    color:black;
    text-align:center;
    font-family:Arial, Courier, monospace;
    font-weight:lighter;
    font-size:larger;
    background-color:yellow;
    border-spacing:5px;
    border:2px dotted black;
}
textarea {
    color:darkgrey;
    text-align:left;
    font-family:Arial, sans-serif;
    font-weight:normal;
    font-size:medium;
    text-decoration:underline;
    text-wrap:pretty;
    position:relative;
    bottom:1px;
}

.name {
    color:rgba(4, 5, 31, 0.756);
    font-family:Arial, sans-serif, Helvetica;
    font-weight:bold;
    font-size:large;
    text-decoration:none;
    background-color:gold;
    border-radius:5px;
    border:2px;
}
